<html>
<head>
	<title>Dashboard - {{title}}</title>
</head>
<body>
	<div style="justify-content: space-between">
		<div style="display: inline-block; vertical-align: top;">
			GARY 1.0: 
			<a href="{{url_for('index')}} ">Home</a>
			<a href="{{url_for('search')}}">Search</a>
			<a href="{{url_for('upload')}}">Upload</a>
			<a href="{{url_for('manual')}}">Manual</a>
		</div>
	</div>
	<hr>
	{% block content %}{% endblock %}
	<div style="height: 100px"></div>
	<div style="position:fixed; bottom: 0; width: 100%; height: 90px; background-color: peru;padding: 5px;text-align: center">
		<div style="display: inline-block;width:80%">
			<hr>
			<p>By Joe Berusch <br>
			Campus Catalyst Fall 2018 <br>
			For Gary Comer Youth Center</p>
		</div>
		<div style="margin-right: 25px;margin-top: 5px;display: inline-block;float: right;">
			<img src="http://www.garycomeryouthcenter.org/assets/img/GaryComerYouthCenter-On-the-Comer-Education-Campus.png" 
				alt="(Logo Here)" height="80" width="240">
		</div>
	</div>
</body>
</html>