{% extends "base.html" %}

{% block content %}
	<!-- toggle individual/aggregate data -->
	<h1>Search Student Data</h1>
	<div>
		<h3>Would you like data for an individual or for a group of students?</h3>
	</div>

	<form action="" method="post" novalidate style="display: inline-block;vertical-align: top;">
		{{ individual_form.hidden_tag() }}
		<div style="background-color: #92a8d1; padding: 10px; border-width: 3px; border-style: solid; border-color: 'black'; height: 400px;width: 300px">
			<h4>Data by Student</h4>
			<p>
				{{individual_form.student_id.label}}
				<br>
				{{individual_form.student_id(size=15)}}
			</p>
			<p> {{individual_form.indiv_submit()}} </p>
		</div>
	</form>
		
	<form action="" method="post" novalidate style="display: inline-block;vertical-align: top;">
		{{ group_form.hidden_tag() }}
		<div style="background-color: #8daae0; padding: 10px; border-width: 3px; border-style: solid; border-color: 'black'; height: 400px;width: 300px">
			<h4>Data by Group</h4>
			<h6>See data for students by advisor...</h6>
			<p>
				{{ group_form.adv_search.label }} <br> {{ group_form.adv_search(size=15 )}} <br>
			</p>
			<hr>
			<h6>OR separate all students from GCMS...</h6>
			<p>
				{{ group_form.ms() }} {{ group_form.ms.label }}
			</p>
			<hr>
			<h6>OR separate out all GCYC members...</h6>
			<p>
				{{ group_form.gcyc_mem() }} {{ group_form.gcyc_mem.label }}
			</p>
			<p>
				{{ group_form.group_submit() }}
			</p>
		</div>
	</form>

	<!-- display error msg if we got one -->
	{% if error_msg %}
		<hr>
		<p style="color: red;">
			Uh oh! Looks like we ran into the following error: <br>
			{{ error_msg }}	<br>
			If this tool doesn't support something you really want to do, make sure to discuss it with ______________!
		</p>
	{% endif %}

	<!-- display individual data: On Track -->
	{% if individual_form.student_id.data %}
		<hr>
		<h2>Getting Data for Student ID # {{ individual_form.student_id.data }}</h2>
		{% if on_track %}
			<h3 style="color: green;">This student is on track!</h3>
		{% else %}
			<h3 style="color: red;">This student is not on track.</h3>
		{% endif %}
	{% endif %}

	<!-- display individual data: demographic data -->
	{% if demo_data %}
		<hr>
		<h4>Student Information:</h4>
		<table>
			<tr>
				<th style="border: 1px solid black; padding: 8px">Category</th>
				{% for key in demo_data.keys() %}
					<td style="border: 1px solid black; padding: 8px">{{ key }}</td>
				{% endfor %}
			</tr>
			<tr>
				<th style="border: 1px solid black; padding: 8px">Value</th>
				{% for val in demo_data.values() %}
					<td style="border: 1px solid black; padding: 8px">{{ val }}</td>
				{% endfor %}
			</tr>
		</table>
	{% endif %}

	{% if metrics %}
	{% for type,str in metrics.items() %}
		{% if dicts[type] %}
			<hr>
			<!-- print each dictionary value -->
			<h4>{{ str }} Over Time:</h4>
			<table>
				<tr>
					<th style="border: 1px solid black; padding: 8px">Date</th>
					{% for key in dicts[type].keys() %}
						<td style="border: 1px solid black; padding: 8px">{{ key }}</td>
					{% endfor %}
				</tr>
				<tr>
					<th style="border: 1px solid black; padding: 8px">{{ str }}</th>
					{% for val in dicts[type].values() %}
						<td style="border: 1px solid black; padding: 8px">{{ val }}</td>
					{% endfor %}
				</tr>
			</table>
		{% endif %}

		<!-- display individual data: plot -->
		{% if plots %}
			<img src="data:image/png;base64,{{ plots[type] }}" alt="fail" width="1000">
			<p><em>NB: If a value is ignored in this graph, that means it is set to empty or =#N/A in Excel</em></p>
		{% endif %}
	{% endfor %}
	{% endif %}

	<!-- display ids of students in group -->
	{% if basic_data and group_search_filter %}
	<hr>
	<h4>IDs of Students in Group: {{ group_search_filter }}</h4>
	<p>{{ '{:0.2f}'.format(percent_on_track) }}% of the students in this group are on track!</p>
	<p><em>NB: IDs in green represent students on track, red represents the opposite</em></p>
	<table style="display: block;">
		<tr>
			<th style="border: 1px solid black; padding: 8px">ID #</th>
			{% for stu in basic_data %}
				<td style="border: 1px solid black; padding: 8px; display: inline-block">
					{% if stu['on_track'] %}	
						<p style="color: green">{{ stu['id'] }}</p>
					{% else %}	
						<p style="color: red">{{ stu['id'] }}</p>
					{% endif %}
				</td>
			{% endfor %}
		</tr>
	</table>
	{% endif %}
{% endblock %}