{% extends "base.html" %}

{% block content %}
	<h2>Search Student Data</h2>
	<form action="" method="post" novalidate>
		{{ form.hidden_tag() }}
		<p>
			{{form.student_id.label}}
			<br>
			{{form.student_id(size=15)}}
		</p>

		<!-- this is hideous // I need to find a way to do this in a loop -->
		<p>
			{{form.gender()}} {{form.gender.label}}
		</p>
		<p>
			{{form.ms()}} {{form.ms.label}}
		</p>
		<p>
			{{form.school()}} {{form.school.label}}
		</p>
		<p>
			{{form.advisor()}} {{form.advisor.label}}
		</p>

		<p> {{form.submit()}} </p>

		{% if results and results['student_id'] %}
		<hr>
		<p>Student ID: {{ results['student_id'] }}</p>
		<p>Gender: {{ results['gender'] }}</p>
		{% endif %}

	</form>
{% endblock %}